<div class="">
    <h3>{{ section.title }}</h3>
    <div id="map-canvas">
    </div>
    {% autoescape off %}
        <p>{{ section.text }}</p>
    {% endautoescape %}

    <div class="col span_1_of_2">
        <div class='col span_1_of_3'>
            <h3> Dirección</h3>
            <div class='clear'></div>
        </div>

        <div class='col span_1_of_3'>
            <h3> Teléfono</h3>
            <div class='clear'></div>
            687 61 32
        </div>

        <div class='col span_1_of_3'>
            <h3> email</h3>
            <div class='clear'></div>
            anahidalgo.psicologia@gmail.com
        </div>
        
    </div>

</div>
