<!--
Author: ggarrido
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		{% load staticfiles %}
		{% include 'css.html' %}
		{% include 'js.html' %}
		<title>Psicóloga Ana Hidalgo Bolance | Home</title>
	</head>
	<body>
		<!---start-wrap---->
		
		<!---start-header---->
        <div class="header">
			{% include 'header.html' %}
		</div>
		<!---End-header---->

        {% if isSlider %}
			<!---start-images-slider---->
			{% include 'slider.html' %}
			<!---End-images-slider---->
        {% endif %}

		<!----start-content----->
		<div class="content">
        	<div class="wrap">
                {% block content %}
                {% for section in sections %}
					{% include section.get_html_skeleton with section=section only %}
				{% endfor %}
			{% endblock %}
            </div>
        	<div class="clear"></div>
		</div>
		<!----End-content----->

		<!---start-footer---->
		<div class="footer navbar navbar-fixed-bottom">
			{% include "footer.html" %}
		</div>
		<!---End-footer---->
	</body>
</html>

