<!--
Author: ggarrido
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="es-ES" ng-app="myApp">
	<head>
		{% load staticfiles %}
    	{% block extrahead %}
			{% include 'js.html' %}
		{% endblock %}
        {% block extrastyle %}
			{% include 'css.html' %}
        {% endblock %}


        <meta charset="UTF-8">
        <meta name="author" content="Gabriel Garrido">
        <meta name="keywords" content="{{    website.keywords.all | join:", " }} {{    page.keywords.all | join:", " }}">
		<meta name="description" content="{{ website.description }}. {{ page.description }}" >
        <meta name="robots" content="{{ page.robot_tags }}">
		<title>{{ website.title }} | {{ page.title }}</title>
	</head>
	<body>
		<!---start-wrap---->

		<!---start-header---->
        <div class="header">
			{% include 'header.html' %}
		</div>
		<!---End-header---->

        {% block slider %}
        {% endblock %}

		<!----start-content----->
		<div class="content {{ page.css_class }}">
        	<div class="wrap">
			{% block content %}
			{% endblock %}
            </div>
        	<div class="clear"></div>
		</div>
		<!----End-content----->

		<!---start-footer---->
		<div class="footer navbar navbar-fixed-bottom">
			{% include "footer.html" %}
		</div>
		<!---End-footer---->
	</body>
</html>

