{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/'|add:device|add:'/style.css' %}" type="text/css"  media="all" />
<link rel="stylesheet" href="{% static 'css/'|add:device|add:'/style_customized.css' %}" type="text/css"  media="all" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"  media="all" />
<link rel="stylesheet" href="{% static 'css/'|add:device|add:'/responsiveslides.css' %}">
<link rel='stylesheet' href='{% static 'css/open-sans-fontface-1.0.4/open-sans.css' %}' type='text/css'>
<link rel="stylesheet" href="{% static 'media/bootstrap/css/bootstrap.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'media/bootstrap/css/bootstrap-responsive.min.css' %}" type="text/css"/>