{% load staticfiles %}

<div class="top-header">
    <div class="wrap">
        <div class="top-header-left">
            {% if office %}
                 <p>{{ office.director.first_name }} {{ office.director.last_name }}</p>
            {% endif %}
        </div>
        <div class="clear"> </div>
    </div>
</div>

<div class="main-header">
    <div class="wrap">
        <div class="logo">
            <a href="/"><img src="{{ office.logo.image.url }}" title="{{ office.logo.alt }}" /></a>
        </div>
        <div class="social-links">
            <ul>
                <li><a href="#"><img src="{% static 'images/web/facebook.png' %}" title="facebook" /></a></li>
                <li><a href="#"><img src="{% static 'images/web/twitter.png' %}" title="twitter" /></a></li>
                <li><a href="#"><img src="{% static 'images/web/feed.png' %}" title="Rss" /></a></li>
                <div class="clear"> </div>
            </ul>
        </div>
        <div class="clear"> </div>
    </div>
</div>

<div class="clear"> </div>

<div class="top-nav">
    <div class="wrap">
        <ul>
            {% for menu in menus %}
                <li {% if menu.id == page.id %} class="active" {% endif %}><a href="{{ menu.path }}" >{{ menu.title }}</a></li>
            {% endfor %}
            <div class="clear"> </div>
        </ul>
    </div>
</div>