{% load staticfiles %}

<div class="top-header">
    <div class="wrap">
        <div class="top-header-left">
            {% if office %}
                 <p>{{ office.director.first_name }} {{ office.director.last_name }}</p>
            {% endif %}
        </div>
        <div class="clear"> </div>
    </div>
</div>

<div class="main-header">
    <div class="wrap">
        <div class="logo">
            <a href="/"><img src="{{ office.logo.image.url }}" title="{{ office.logo.alt }}" /></a>
        </div>
        <div class="social-links">
            <ul>
                {% if office.director.sn_facebook %}
                     <li><a href="{{ office.director.sn_facebook }}" target="_blank"><img src="{% static 'images/'|add:device|add:'/facebook.png' %}" title="facebook" /></a></li>
                {% endif %}
                {% if office.director.sn_google %}
                    <li><a href="{{ office.director.sn_google }}" target="_blank"><img src="{% static 'images/'|add:device|add:'/google+.png' %}" title="google+" /></a></li>
                {% endif %}
                <div class="clear"> </div>
            </ul>
        </div>
        <div class="clear"> </div>
    </div>
</div>

<div class="clear"> </div>

<div class="top-nav">
    <div class="wrap">
        <ul>
            {% for menu in menus %}
                <li {% if menu.id == page.id %} class="active" {% endif %}><a href="{{ menu.path }}" >{{ menu.title }}</a></li>
            {% endfor %}
            <div class="clear"> </div>
        </ul>
    </div>
</div>