<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'media/bootstrap/dist/css/bootstrap.min.css' %}" />

    <script type="text/javascript" language="JavaScript" src="{% static 'media/angular-1.3.1/angular.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'media/angular-1.3.1/angular-route.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'media/angular-1.3.1/ui-bootstrap-tpls-0.11.2.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'app/app.js' %}"></script>

</head>

<body ng-controller="HomeCtrl as home">

{% verbatim %}
    {{ home.test }}
{% endverbatim %}

</body>
</html>
