{% load staticfiles %}
<div class="image-slider">
    <!-- Slideshow 1 -->
    <ul class="rslides rslides1" id="slider1" style="max-width: 2500px;">
    {% if office %}
        {% for photo in office.photos.all %}
        <li id="rslides1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; -webkit-transition: opacity 600ms ease-in-out; transition: opacity 600ms ease-in-out;">
            <img src="{{ photo.image.url }}" alt="{{ photo.alt }}">
            <div class="slider-info">
                <p>{{ photo.title }}</p>
                <span>{{ photo.description }} </span>
            </div>
        </li>
        {% endfor %}
    {% endif %}
{#      #}
{#      <li id="rslides1_s1" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; -webkit-transition: opacity 600ms ease-in-out; transition: opacity 600ms ease-in-out;"><img src="{% static 'images/web/slider2.png' %}" alt="">#}
{#        <div class="slider-info">#}
{#            <p>Medica the best Hospital website</p>#}
{#            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>#}
{#            <a href="#">ReadMore</a>#}
{#        </div>#}
{#      </li>#}
    </ul>
 <!-- Slideshow 2 -->
</div>