
.col p {
	text-align: justify;
}

/***************/
/* WORKSHOP    */
/***************/


#workshop .span_1_of_1 p {
	width: 80%;
	/*display: block;*/
	margin-left: auto;
    margin-right: auto;
}

/***************/
/* CONTACT TAB*/
/***************/

#contact #google-map{
	width: 100%;
	padding: 0px;
}

#contact #google-map #map-canvas {
	width: 100%;
	min-height: 400px;
	margin: 0px;
	padding: 0px
}

#contact #google-map #map-canvas img {
	max-width: none;
}

#contact form#contactForm textarea  {
	width: 100%;
}

#contact form#contactForm button[type=submit] {
	width: 30em;
}

#contact .wrap  {
	padding: 0%;
	width: 100% !important;
}

/***************/
/* ANGULAR */
/***************/

.ng-invalid.ng-dirty {
	border-color:#FA787E;
}

.ng-valid.ng-dirty {
	border-color:#78FA89;
}