
.col p {
	text-align: justify;
}

.col img{
	margin-left: 0px;
}

.span_2_of_3 img{
	max-height: 30em;
	width: 100%;
}

/***************/
/* WORKSHOP    */
/***************/


#workshop .span_1_of_1 p {
	/*display: block;*/
	margin-left: auto;
    margin-right: auto;
}

/***************/
/* CONTACT TAB*/
/***************/

#contact #google-map{
	width: 100%;
	padding: 0px;
}

#contact #google-map #map-canvas {
	width: 100%;
	margin: 0px;
	padding: 0px
}

#contact #google-map #map-canvas img {
	max-width: none;
}

#contact form#contactForm textarea  {
	width: 100%;
}


#contact .wrap  {
	padding: 0%;
	width: 100% !important;
}

#modal-info .modal-content p{
	padding-left: 2em;
}

/***************/
/* ANGULAR */
/***************/

.ng-invalid.ng-dirty {
	border-color:#FA787E;
}

.ng-valid.ng-dirty {
	border-color:#78FA89;
}