.span_1_of_2, .span_2_of_3, .span_1_of_3{
    width: 90% !important;
}

.top-nav ul{
    padding-left: 0;
    margin-left: 0;
}

.logo img{
    height: 10em;
}

/*.col {*/
    /*padding-top: 1em;*/
/*}*/

.col p {
    font-size: 1.1em;
}

.span_1_of_1 h3 {
    text-align: center;
}

.span_1_of_1 img{
    max-height: 50em;
}

.content{
    padding-bottom: 7em;
}

.top-nav{
    height: 3em;
}

.top-nav li a{
    font-size: 0.8em;
}

#google-map {
    margin:0;
    padding: 0;
    border: 0;
    width: 100%;
}

#map-canvas {
	height: 30em;
}

#workshop .col img{
    /*height: 50em;*/
	margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

#workshop .col p{
    font-size: 1.2em;
}

#workshop .span_1_of_1 p {
	width: 95%;
}

#contact #google-map #map-canvas {
	height: 20em;
}

/*#contact .col h3{*/
    /*font-size: 2.4em;*/
/*}*/

/*#contact .col h4{*/
    /*font-size: 2.2em;*/
/*}*/

/*#contact .col p{*/
    /*font-size: 1.7em;*/
/*}*/

/*#contact .col label{*/
    /*font-size: 1.7em;*/
    /*padding-top: 1em;*/
    /*padding-bottom: 0.6em;*/
/*}*/

/*#contact .col input[type='text'],#contact .col input[type='email'] {*/
    /*height: 3em;*/
    /*width: 80%;*/
    /*display: block;*/
/*}*/

#contact .col button[type='submit'] {
    height: 2.2em;
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    /*font-size: 2em;*/
    width: 100px;
}

/*#contact .col textarea {*/
    /*height: 8em;*/
    /*display: block;*/
/*}*/

/*#contact .form {*/
    /*margin-bottom: 10em;*/
/*}*/

/*#modal-info{*/
    /*height: 10em;*/
/*}*/

/*#modal-info h4.modal-title{*/
    /*font-size: 2em;*/
/*}*/

/*#modal-info .modal-content p{*/
    /*font-size: 1.7em;*/
    /*padding-top: 1em;*/
/*}*/