<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>Medica website for Iphone, Android, Smartphone Mobile Website Template | Services :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<link href="smartphone/css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		 <script src="smartphone/js/mobile.js"></script>
		<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>
	</head>
	<body>
		<!---start-wrap---->
		
			<!---start-wrap---->
		<div id="w3-universal-nav">
    	<ul id="header" id="top">
    		<div class="top-header">
						<div class="wrap">
						<div class="top-header-left">
							<p>+800-020-12345</p>
						</div>
						<div class="right-left">
							<ul>
								<li class="login"><a href="#">Login</a></li>
								<li class="sign"><a href="#">Sign up</a></li>
							</ul>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
    		<div class="wrap">
    			<div class="logo">
    				<a href="index.html"><img src="smartphone/images/logo.png" alt=""/></a>
    			</div>
    			<div class="social-links">
								<ul>
									<li><a href="#"><img src="smartphone/images/facebook.png" title="facebook" /></a></li>
									<li><a href="#"><img src="smartphone/images/twitter.png" title="twitter" /></a></li>
									<li><a href="#"><img src="smartphone/images/feed.png" title="Rss" /></a></li>
									<div class="clear"> </div>
								</ul>
				</div>
    	</ul>
    	<div id="w3-mobile-options">
    		<li id="w3-menu-trigger">
    			<li id="w3-search-trigger">
    				<a href="#">Search</a>
    			</li>
    	</div>
    	<ul id="w3-menu-links" style="display: none;">
    	</ul>
    	<div id="w3-search-module" style="display: none;">
    		<form id="w3-search-form" action="/Search/" method="get">
    			<p>
    				<label for="q">
    					<span class="w3-access">Search</span>
    				</label>
    				<input accesskey="s" type="text" maxlength="100" value="" name="q" id="q"><input type="hidden" value="17" name="v">
    			</p>
    		</form>
    		</div>
    		</div>
</div>
<!-- The menu -->
  <nav class="clearfix">
					<ul>
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="services.html">Services</a></li>
								<li><a href="news.html">News</a></li>
								<li><a href="contact.html">Contact</a></li>
								<div class="clear"> </div>
					</ul>
		<a href="#" id="pull">Menu</a>
	</nav>
			<div class="clear"> </div>
			<!----start-content----->
			<div class="content">
				<div class="wrap">
					<div class="services1">
						<h4>Our services</h4>
						<div class="content-top-grids services-grids">
						<div class="content-top-grid services-grid1">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="smartphone/images/timer.png" title="image-name"></a>
								</div>
								<div class="content-top-grid-title">
									<h3>24x7 Servives</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<a class="grid-button" href="#">Read More</a>
								<div class="clear"> </div>
						</div>
						<div class="content-top-grid services-grid1">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="smartphone/images/tool.png" title="image-name"></a>
								</div>
								<div class="content-top-grid-title">
									<h3>CARE ADVICES</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<a class="grid-button" href="#">Read More</a>
								<div class="clear"> </div>
						</div>
						<div class="content-top-grid services-grid1">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="smartphone/images/inject.png" title="image-name"></a>
								</div>
								<div class="content-top-grid-title">
									<h3>EMERGENCY</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<a class="grid-button" href="#">Read More</a>
								<div class="clear"> </div>
						</div>
						<div class="content-top-grid services-grid1">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="smartphone/images/timer.png" title="image-name"></a>
								</div>
								<div class="content-top-grid-title">
									<h3>24x7 Servives</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<a class="grid-button" href="#">Read More</a>
								<div class="clear"> </div>
						</div>
						<div class="content-top-grid services-grid1">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="smartphone/images/tool.png" title="image-name"></a>
								</div>
								<div class="content-top-grid-title">
									<h3>CARE ADVICES</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<a class="grid-button" href="#">Read More</a>
								<div class="clear"> </div>
						</div>
						<div class="content-top-grid services-grid1">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="smartphone/images/inject.png" title="image-name"></a>
								</div>
								<div class="content-top-grid-title">
									<h3>EMERGENCY</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<a class="grid-button" href="#">Read More</a>
								<div class="clear"> </div>
						</div>
						<div class="content-top-grid services-grid1">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="smartphone/images/timer.png" title="image-name"></a>
								</div>
								<div class="content-top-grid-title">
									<h3>24x7 Servives</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<a class="grid-button" href="#">Read More</a>
								<div class="clear"> </div>
						</div>
						<div class="content-top-grid services-grid1">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="smartphone/images/tool.png" title="image-name"></a>
								</div>
								<div class="content-top-grid-title">
									<h3>CARE ADVICES</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<a class="grid-button" href="#">Read More</a>
								<div class="clear"> </div>
						</div>
						<div class="content-top-grid services-grid1">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="smartphone/images/inject.png" title="image-name"></a>
								</div>
								<div class="content-top-grid-title">
									<h3>EMERGENCY</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<a class="grid-button" href="#">Read More</a>
								<div class="clear"> </div>
						</div>
						<div class="clear"> </div>
					</div>
					</div>
				<div class="clear"> </div>
				</div>
			<!----End-content----->
		</div>
		<!---End-wrap---->
		<!---start-footer---->
		<div class="footer">
			<div class="wrap">
				<div class="footer-grids">
					<div class="footer-grid">
						<h3>CONTACTS</h3>
						 <p>Lorem ipsum dolor sit amet ,</p>
						 <p>Conse ctetur adip .</p>
						 <p>ut labore Usa.</p>
						 <span>(202)1234-56789</span>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="clear"> </div>
				<!---start-copy-right----->
				<div class="copy-tight">
					<p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
				</div>
				<!---End-copy-right----->
			</div>
		</div>
		<!---End-footer---->
	</body>
</html>

