{% extends "base/base_simple.html"%}

{% block extrahead %}
    {{ block.super }}
    {% load staticfiles %}
    <script src="{% static 'js/'|add:device|add:'/responsiveslides.min.js' %}"></script>
    {% if device != 'mobile' %}
        <script>
          // You can also use "$(window).load(function() {"
          $(function () {
              // Slideshow 1
              $("#slider1").responsiveSlides({
                maxwidth: 2500,
                speed: 2000
              });
          });
        </script>
    {% endif %}
{% endblock %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock %}