{% include "admin/edit_inline/stacked.html" %}

<script type="text/javascript">
(function($) {
    var updateSectionPreview = function(sectionDiv) {
        var baseClass = $(sectionDiv).attr('id');
        var sectionPos = parseInt(baseClass.replace('sections-', ''));
        var sectionId = $('#id_'+baseClass+'-id').val();
        if(!sectionId) {
            sectionId = 0
        }
        var fields = ['template', 'skeleton', 'title', 'subtitle', 'head_photo', 'id', 'page', 'text']
        var requestData = {};
        $.each(fields, function(key, value){
            var $field = $('#id_'+baseClass+'-'+value);
            var fieldName = $field.attr('name').replace(baseClass, 'form-0');
            var fieldValue = $field.val();
            if(fieldValue)
                requestData[fieldName] = fieldValue;
        });
        requestData['form-TOTAL_FORMS'] = 1;
        requestData['form-INITIAL_FORMS'] = 1;


        $.ajax({
            type: "POST",
            url: '/render/section/' + sectionId,
            data: requestData
        }).done(function(response) {
            $('.section_preview', $(sectionDiv)).contents().find('html').html(response);
        });
    };

    var updatePagePreview = function() {
        $.ajax({
            type: "POST",
            url: '/render/page/' + 1,
            data: $('#page_form').serialize().replace(/sections/g, 'form')
        }).done(function(response) {
            $('#page_form iframe:first').contents().find('html').html(response);
        });
    };

    var $fieldset = $('fieldset', $('.dynamic-sections'));
    $fieldset.css({
        'width': '60%',
        'display': 'inline-block'
    });

    $("<iframe class=\"section_preview\"></iframe>").insertAfter($fieldset);
    $('iframe', $('.inline-related')).addClass('section_preview').css({
        'width': '30%',
        'height': '350px',
        'display': 'inline-block'
    });

    $.each($('.dynamic-sections'), function (section, container) {
        $('input, select, textarea' ,$('fieldset')).unbind('change').bind('change', function(e){
            var sectionDiv = $(e.target).closest('.dynamic-sections');
{#            updatePagePreview();#}
            if(sectionDiv)
                updateSectionPreview(sectionDiv);
        });
        updateSectionPreview(container);
{#        updatePagePreview();#}
    });

})(django.jQuery);
</script>
