{% include "admin/edit_inline/stacked.html" %}

<script type="text/javascript">
(function($) {
    var updateSectionPreview = function(form) {
        var key = $(form).attr('id').replace('sections-', '');
        var sectionId = $('#id_sections-'+key+'-id').val();
        var extraDataInput = [
            'id_sections-'+key+'-template',
            'id_sections-'+key+'-skeleton',
            'id_sections-'+key+'-title',
            'id_sections-'+key+'-subtitle',
            'id_sections-'+key+'-text',
            'id_sections-'+key+'-head_photo',
            'id_sections-'+key+'-id',
            'id_sections-'+key+'-page',
{#            'id_sections-TOTAL_FORMS',#}
{#            'id_sections-INITIAL_FORMS',#}
{#            'id_sections-MIN_NUM_FORMS',#}
{#            'id_sections-MAX_NUM_FORMS'#}
        ]
        var sectionData = {}

        $.each(extraDataInput, function(key2, item){
            var name = $('#'+item).attr('name');
            name = name.replace('sections-'+key, 'sections-0');
            name = name.replace('sections', 'form');
            sectionData[name] = $('#'+item).val();
        });

        sectionData['form-TOTAL_FORMS'] = 1;
        sectionData['form-INITIAL_FORMS'] = 1;

        $.ajax({
            type: "POST",
            url: '/render/section/' + sectionId,
            data: sectionData
        }).done(function(response) {
            $('.section_preview', $(form)).contents().find('html').html(response);
        });
    };

    var $fieldset = $('fieldset', $('.dynamic-sections'));

    $fieldset.css({
        'width': '60%',
        'display': 'inline-block'
    });

    $("<iframe class=\"section_preview\"></iframe>").insertAfter($fieldset);
    $('iframe', $('.inline-related')).addClass('section_preview').css({
        'width': '30%',
        'height': '350px',
        'display': 'inline-block'
    });

    $.each($('.dynamic-sections'), function (section, container) {
        $('input, select, textarea' ,$('fieldset')).unbind('change').bind('change', function(e){
            updateSectionPreview($(e.target).closest('.dynamic-sections'));
        });
        updateSectionPreview(container);
    });

})(django.jQuery);
</script>
