.content .col h3 {
	min-height: 34px;
}

#slider1{
	height: 25em;
}

#workshop .col img{
	height: 40em;
}

#workshop .span_1_of_1 p {
	width: 80%;
}

/* BASE_CONTACT_TEMPLATE */

#map-canvas {
	max-width: 2500px;
	height: 30em;
}

#google-map{
	padding: 0px;
	margin-top: -10px;
}

#google-map h3{
	min-height: 0px !important;
}

#contact .span_1_of_3, #contact .span_1_of_2, #contact .span_1_of_1, #contact .span_2_of_3 {
	padding-top: 0px;
}

#contact .contact-details .email, #contact .contact-details .phone{
	padding: 0.5%;
}

#contact form#contactForm button[type=submit] {
	width: 30em;
}

#contact #google-map #map-canvas {
	min-height: 400px;
}