.content .col h3 {
	min-height: 34px;
}

/* BASE_CONTACT_TEMPLATE */

.contact .wrap  {
	padding: 0%;
	width: 100%;
}

.contact .google-map{
	padding: 0px;
	margin-top: -10px;
}
.contact .google-map h3{
	min-height: 0px !important;
}

.contact .span_1_of_3, .contact .span_1_of_2, .contact .span_1_of_1, .contact .span_2_of_3 {
	padding-top: 0px;
}